<!--header-->
<%- include('../user/partials/header') %> 

<!--Navbar-->
<%- include('../admin/partials/nav') %>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-2 ">
            <%-include('../admin/partials/sidebar') %>
        </div>
        <div class="col-lg-5">
            <div class="dashboard-div ">
                <img src="/svg/dashboard.svg" alt="">
            </div>
        </div>
        <div class="col-lg-5" style="display: flex;align-items:center;justify-content: center; color:#FF7D00 ;">
            <h1>Your Dashboard</h1>
        </div>
    </div>
</div>