
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&family=Pacifico&family=Poppins:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Agdasima&family=Akaya+Telivigala&family=Amatic+SC&family=Bebas+Neue&family=Comfortaa:wght@300;400;600&family=Fira+Sans:ital,wght@0,200;0,300;0,500;1,100;1,200;1,700;1,800&family=Gemunu+Libre:wght@200;500;600;700;800&family=Glass+Antiqua&family=Josefin+Slab:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,300&family=Kanit:ital,wght@0,200;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,800;1,900&family=Life+Savers:wght@400;700&family=Michroma&family=Mukta:wght@200;400&family=Noto+Sans+Mono:wght@100;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,400;1,800&family=Orbitron:wght@400;500;600;700;800&family=Oswald:wght@500&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,400&family=Quicksand:wght@300;400&family=Roboto:wght@400;500;700&family=Rubik+Vinyl&family=Satisfy&family=Shadows+Into+Light&family=Snippet&family=Solitreo&family=Syncopate:wght@400;700&display=swap");



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", "sans-serif";
}
.user-nav{
    background-color:#001524;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.nav-link {
    color: white;
}
.nav-link:hover{
    color: #FF7D00;
}
.dropdown-menu{
 background-color:#FF7D00;
 border-radius: 15px;
}
.dropdown-menu a:hover{
    color:white;
    border-radius: 15px;
    background-color: #001524;
}
.search{
    display: flex;

}
.search-box{
    padding: 6px;
    border-radius: 7px;
    border: 0px;
}

::placeholder{
    font-size: 12px;
    padding: 5px;
}
.search-btn{
    padding: 6px 12px;
    border-radius: 7px;
    border: 0px;
    font-weight:500;
    background-color: #FF7D00;
}

.category{
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, 0.171);
}
.category li{
    padding-top: 12px;
}
.category li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.banner-main{
    background-color: rgb(0, 0, 0) !important;
}
.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-like{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 162px;
    height: auto;
}

/*-------------------------------*/

.left{
    margin:auto;
}

.left-logo{
    padding: 10px;
    display: flex;
    justify-content: start;
}
.left h5{
    font-size: 30px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
}
.left h3{
    padding: 10px;
    font-size: 54px;
    color: white;
}

.left h6{
    padding: 10px;
    font-size: 19px;
    color: white;

}
.offer{
    margin-top: 17px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 142px;
    width: 331px;
}
.offer h3{
    color: white;
    font-size: 50px;
}
.apple-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
}

.square{
    background-color: #FF7D00;
    width: 20px;
    height: 40px;
    border-radius: 5px;
}
.premium-text{
    display: flex;
    margin-top: 76px;
    width: 220px;
    padding: 8px;
    justify-content: space-evenly;
    align-items: center;

}
.pre-head{
    display: block;
    margin-top: 20px;
    padding: 8px;
    justify-content: space-evenly;
    align-items: center;
}
.flash{
    display: flex;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
}
.pre-head2 h3{
    margin-left: 39px;
}
.pre-head1 h3{
    margin-left: 50px;
}
.iphone,.s23,.flip,.fold{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 77%; */
    background-color: #f5f5f5;
    padding: 20px 0px;

}
.dis{
    display: flex;
    justify-content: center;
    width: 40px;
    height:25px;
    background-color: #DA4167;
    border-radius: 5px;
    margin-left: 14px;
    margin-top: 25px;
    align-self: flex-start; /* This aligns the "dis" div to the top */
}
.dis p{
    color: white;
}
.s23 .dis{
    margin-top: 20px;
}
.love {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 42px;
    width: 22px;
    border-radius: 50px;
    align-self: flex-end;
    margin-right: 17px;
}
.eye{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    height: 51px;
    width: 23px;
    border-radius: 50px;
    align-self: flex-end;
    margin-right: 17px;
    margin-top: 10px;
}
.details h6{
    color: #DA4167;
}
.view-all{
    margin-top: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-all button{
    width:190px;
    height: 40px;
    background-color:#FF7D00;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 0;
    font-weight: 600;
}

.rectangle{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e0e0;
    width: 100%;
    height: 120px;
    border: 1px solid #a198988a;
}
.rectangle img{
    padding: 0px 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
}


.inner-div p{
    color: #FF7D00;
}
.inner-div h2{
    color: white;
}
.contain{
    gap: 20px;
}
#circles{
    
    background-color: #15616D;
    width: 43px;
    height: 43px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circles p{
    margin: 0;
    color: white;
    font-size: 12px;
}
.inner-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-div2 > img{
    padding: 20px;
    width: 250px;
}
.view-all2{
    margin-top: 20px;
    text-align: center;
}
.view-all2> button{
    width:190px;
    height: 40px;
    background-color:#FF7D00;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 0;
    border-radius: 30px;
    font-weight: 600;
}
.round-icon{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.foot-icon{
    width: 55px;
    border: 6px solid #343a40;
    border-radius: 55px;
    background-color: #27B89A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trade-mark{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.td1 {
    margin-top: 10px;
    text-align: center;
}
.td1 h4 {
    font-weight: 600;
}
.td1 p{
    font-weight: 400;
}
@media (max-width:575px){
    .td1 h4 {
        font-size: 12px;
        font-weight: 600;
    }
    .td1 p{
        font-size: 7px;
        font-weight: 500;
    }
    .trade-mark{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
}

@media(min-width:576px)and (max-width:767px){

    .left h5 {
        font-size: 24px;
        color: white;
        margin-top: 14px;
        margin-left: 10px;
    }
    .left img{
        width: 25px;
    }
    .left h3 {
        padding: 10px;
        font-size: 29px;
        color: white;
    }
    .td1 h4 {
        font-size: 12px;
        font-weight: 600;
    }
    .td1 p{
        font-size: 9px;
        font-weight: 500;
    }
    .trade-mark{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
}

@media (min-width:767px)and (max-width:991px){
    .left h5 {
        font-size: 24px;
        color: white;
        margin-top: 14px;
        margin-left: 10px;
    }
    .left img{
        width: 30px;
    }
    .left h3 {
        padding: 10px;
        font-size: 33px;
        color: white;
    }
    .right img{
        background-image: url()
    }
    .td1 h4 {
        font-size: 15px;
        font-weight: 600;
    }
    .td1 p{
        font-size: 12px;
        font-weight: 500;
    }
    .trade-mark{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }


}   
@media (max-width:575px){
    .category{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .category li a {
            color: rgb(0, 0, 0);
            background-color: #DA4167;
            text-decoration: none;
            border-width: 1px solid rgb(24, 23, 23);
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.27);
            border-image: initial;
            padding: 4px;
            border-radius: 10px;
    }
    .rectangle .sam {
        width: 42%;
    }
}




/*---------------------------------signup---------------------------------------*/

@media(max-width:992px){

}



.sign-image {
    width: 520px;
}
.main{
    display: flex;
}
.sign-form{
    position: relative;
}
.form-main{
    display: flex;
    align-items: center;
}
.login-form{
    width: 100%;
}

.form-control{
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 5px;

}
.form-cont{
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 15px;
    padding: 5px 35px 5px 8px;
}
.sign-btn{
    background-color: #FF7D00;
    width: 24vw;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    color: black;
    font-weight: 600;
    border-radius: 50px;

    
}
.sign-up{
    position: relative;
    margin-top: 7px;
}

.form-control::placeholder {
    color: white;
}

.sign-up a{
    text-decoration: none;
    background-color: #f8f8f8;
    color: #000000;
    padding: 10px 20px;
    border-radius: 39px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24vw;
    height: 40px;
}
.sign-google{
    
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    color: rgb(0, 0, 0);
    border-radius: 4px;
}
.google-svg{
    position: absolute;
    top: 24px;
    left: 95px;
    width: 25px;
    border: none;
}
.a-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.login-link{
    color: rgb(9, 24, 160);
}
#sp{
    color: #000000;
}
.footer-div{
    background-color: black;
    height: 250px;
    width: 100vw;
    display: inline-block;
    justify-content: space-around;
 
}
.foot-email{
    border-radius: 7px;
    padding: 2px;
}
#footer-main{
    background-color: black;
    margin-top: 50px;
}

.m-cart-text{
    color: white;
    margin-top: 50px;
    margin-left: 70px;
}
.support{
    height: 15em;
    color: white;
}
.support ul{
    list-style: none;
}
.support ul li{
    color: white;
}
.account{
    color: white;
}
.account ul{
    list-style: none;
}
.account ul a{
    text-decoration: none;
    color: white;
}
.quick-link{
    
    color: white;
}
.quick-link ul{
    list-style: none;
}
#footer-main li{
    margin: 10px 0px;
}
.quick-link ul a{
    text-decoration: none;
    color: white;
}
.footer{
    background-color: #000;
    padding: 20px 0px;
    margin-top: 70px;
}
.footer-search{
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
.footer-search, .search-box::placeholder{
    font-size: 14px;
    padding-left: 7px;
}


/* ---------------------------------------User Login ----------------------------------------*/

.login-btn{
    background-color: #FF7D00;
    width: 10vw;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    color: rgb(12, 1, 63);
    border-radius: 5px;
}
.forgot{
    text-decoration: none;
    color:#001524;
}


/* ---------------------------------------Admin Login ----------------------------------------*/

.adlogin-btn{
    background-color:#FF7D00 ;
    width: 10vw;
    height: 39px;
    border: 3px solid rgba(0, 0, 0, 0.144);
    color: black;
    border-radius: 5px;
}
/*-----------------------------------userhome sidebar---------------------------------*/

.sidebar {
    margin-left: 92px;
    width: 145px;
    background-color: white;
    position: fixed;
    /* height: 52%; */
    overflow: auto;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.295);
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-list li {
    display: flex;
    justify-content: start;
    align-items: center;
   
}

.sidebar-list a {
    text-decoration: none;
    display: block;
    padding: 7px;
    transition: background-color 0.3s;
    margin-right: 10px;
    
}

.sidebar-list a:hover {
    border-bottom: 2px solid #DA4167 ;
    transition: 50ms; 
}

.admin-sidebar a.active {
    color: black; 
    font-weight: bold; 
}
.admin-sidebar a.inactive{
    color: rgb(99, 90, 90);
}
.horizontal-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.horizontal-list li {
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out; 
    border-bottom: 1px solid transparent; 
    border-width: 2px;
    font-weight: 700;
    
}
.horizontal-list li:hover{
    border-bottom: 2px solid #FF7D00;
    border-width: 2px;
    font-weight: 700;
}
.search-img{
    height: auto;
    width: 220px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*----------------------------------Admin Home--------------------------------------------*/

.admin-sidebar{

    background-color:#FF7D00;
    width: 100%;
    overflow: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 16px 0px black;
}
.admin-sidebar a{
    color: #001524;
    text-decoration: none;
    display: block;
    margin: 2rem 0rem;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.admin-sidebar a:hover{
    background-color:#001524;
    border-radius: 50px;
    color: white;
}
#adminNav{
    background-color:#001524;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
#admin-logo{
    text-align: center;
}
#noti{
    display: flex;
    justify-content: space-evenly;
}
.add-btn{
    margin: 14px 0px;
    background-color: #15616D;
    border-radius: 50px;
    padding: 4px;
    border: 0px;

}
.small-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#b6b6b6;
    width: 225px;
    padding: 16px;
    margin: 15px 30px;
}
#main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#b6b6b6;
    /* border: 1px solid black; */
    width: 100%;
    height: 28em;
    margin: 15px 0px;
}
#mainImage{
    margin-top: 15px;
    width: 100%;
    /* height: 443px; */
    background-color:#b6b6b6;
    /* border: 1px solid blac; */
}
#preview5{
    border: 1px solid black;
}
.add-form{
    background-color: #9da4aa!important;
    width: 100%;
    height: 28em;
    margin: 15px 0px;
}
/* .form-control{
    width: 80%;
} */
.form-control::placeholder{
    color: black;
    font-size: 13px;
}
.form-group{
    margin-left: 22px;
}
.cancel-sub{
    margin: 0px 24px;
}
.btn-cancel{
    background-color: #15616D;
    padding: 4px 30px;
    border:0px;
    color: white;
    /* margin-top: 10px; */
}
.btn-cancel:hover{
    color:white;
}
#addToCartForm{
    margin-top: 20px;
}
.btn-sub{
    background-color: #FF7D00;
    padding: 4px 30px;
    border:0px;
    color: white;
}
.btn-sub:hover{
    color: white;
}
.phone-price{
    color: red;
    font-size: 24px;
}
.related{
    display: flex;
    margin: 0px 30px;
}
.rel-img{
    background-color: #9da4aa!important;
    width: 170px;
    margin: 0px 2px;
}
.addcategory-img{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}
.addcategory-form{
    display: flex;

    justify-content: center;
    padding: 0px;
    align-items: center;
}
.form-control1{
    width: 100%;
    background-color: #001524;
    height: 39px;
    border-radius: 19px;
}
.form-control1::placeholder{
    color: white;
}
.form-control1{
    color:white;
}
.category-btn{
    background-color: #FF7D00;
    border-radius: 50px;
}
.product-image {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.product-images {
    width: auto;
    height: 255px;
}

.button-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.smallbtn-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
}
.user-btn{
    background-color: #001524;
    color: #FF7D00;
    padding: 2px;
    border-radius: 5px;
}
.user-btn:hover{
    color: #001524;
    background-color: #FF7D00;
}
.card-div{
    border: 1px solid #001524;
}
.forgot-password{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-btn {
    padding: 5px;
    color:black;
    background-color: #FF7D00;
    border: 0px;
    border-radius: 5px;
}
.coupon-div{
    display: flex;
    justify-content: space-around;
}
.coupon-btn{
    background-color: #FF7D00;
    padding: 4px;
    border-radius: 5px;
    border: 0px;
    color: black;
}
.coupon-btn-div{
    text-align: end;
}
.coupon-input{
    padding: 2px;
    border-radius: 5px;

}


/*----------------------------------------------------products page pagination---------------------------------------------------------*/


.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
  }
  
.next-btn{
    background-color: #FF7D00;
}

.next-btn:hover{
    background-color: #001524;
}
.next-btn a{
    color: white;
}
.second{
    background-color:#001524;
    color: white;
}
.second:hover{
    color: white;
}

/*--------------------------------------------------------Cart------------------------------------------------------------------------*/

.form-cont{
    border: 1px solid #001524;
    width: 100%;
    padding: 4px;
}
.form-cont::placeholder{
    color: #001524;
    font-size: 13px;
    font-weight: 600;
}
.cart-total{
    border: 1px solid black;
    height: 233px;
    box-shadow: -2px 3px 30px 5px rgba(5,6,5,0.6);
    background-color: #001524;
}
.bordered{
    border-bottom:1px solid #998787;
    padding:8px 0px;
}
.checkout-div{
    display: flex;
    justify-content: center
}
.checkout-btn{
    background-color: #FF7D00;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    padding: 7px;
    /* margin-top: 15px; */
}

.quantity-input {
    width: 45px;
    padding: 2px;
    border: 0px solid black;
    border-radius: 3px;
    background-color: darkcyan;
    text-align: center;
    font-size: 17px;
    color: white;
    margin: 0px 7px;
}
.quantity-decrement{
    background-color: #001524;
    width: 30px;
    padding: 1px 0px;
    border-radius: 50px;
    color: white;
}
.quantity-increment{
    background-color: #001524;
    width: 30px;
    padding: 1px 0px;
    border-radius: 50px;
    color: white;
}

/*------------------------------------------------user profile-------------------------------------------------------------------*/

.sidebar-div{
    background-color: red;
}
.userDp {
    position: relative;
    height: 165px;
    width: 165px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden; /* Ensure the image is contained within the div */
}

.selected-image {
    width: 100%;
    object-fit: cover; /* Maintain the aspect ratio and cover the div */
}

.userDpDiv{
    background-color: #001524;
    margin-top: 10px;
    /* height: 167px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #001524;
    padding: 10px 10px;
}
.user-details{
    background-color: white;
}
.input-head{
    text-align: start;
    padding: 0px 18px;
    color: white;
}
.input-head1{
    padding: 0px 38px;
    border-color: red;
    color: white;
}
.profile-button{
    display: flex;
    justify-content: end;
}
.profile-button button{
    padding: 7px;
    margin: 0px 10px ;
}
.cancel-button{
    background-color: #001524;
    color: white;
    border-radius: 4px;
    border: 0px;
}
.save-button{
    background-color: #FF7D00;
    border-radius: 4px;
    border: 0px;
}
.profilePic{
    /* background-color: #001524; */
    box-shadow: 1px 2px 30px -7px #001524;
    /* height: 220px; */
    border-radius: 21px;
    border: 1px solid #FF7D00;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/*-----------------------------------------------------address book-------------------------------------------------------------*/
.address-heading{
    background-color: #15616D;
    box-shadow: 1px 2px 30px -7px #001524;
    color:white;
}
.cancel-btn{
    background-color: #001524;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
}
.save-btn{
    background-color: #FF7D00;
    margin: 0px 10px;
    border-radius: 5px;
    border: none;
    padding: 7px 13px;
    color: black;
}
.cancelDiv{
    width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saveDiv{
    display: flex;
    justify-content: end;
    align-items: center;
}
.Address-div{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 7px;
    background-color: #15616D;
}
.Address-card{
    box-shadow: 0px 2px 11px 1px #001524;
}
.key-value{
    color: #15616D;
    font-size: 15px;
    font-weight:600;
}
.address-ul h6{
    color: black;
   font-weight:800;
    font-size: 14px;
}
.card-body{
    padding: 15px 10px;
    /* cursor: pointer; */
}
.addAddress-btn{
    display: flex;
    justify-content: end;
    position: absolute;
    top: 110px;
    right: 20px;
}
.address1 {
    height: 330px;
}
.radio{
    cursor: pointer;
}
.action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sub-action{
    display: flex;
    width: 70px;
    justify-content: space-around;
}
.edit-dp{
    position: absolute;
    width: 50px;
    height: 45px;
    top: 85px;
    right: 16px;
    cursor: pointer;
}
#cropButton{
    position: absolute;
    top: 100px;
    right: 100px;
}
.key-data{
    padding: 10px;
}
.textwhite{
    color: #d3d3d3;
    font-size: 14px;
    font-weight: 300;
}
.dts h3, p{
    margin: 5px 0px;
}
.profile-options{
    margin: 15px 0px;
    padding: 8px 0px;
    border-bottom: 1px solid #b5b5b5;
}
.profile-options img{
    margin-right: 25px;
}
.profile-options a{
    color: #000;
}
.edit-dp {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Styles for the file input - hide the button */
#profileImageInput {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}
#cardBody{
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#address-logo{
    width: 40px;
}
.empty-square{
    background-color: crimson;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 250px;
}
.figure{
    /* background-color: red; */
    width: 320px;
}
.cart-text{
    color: #001524;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-text {
    display: flex;
    flex-direction: column;

}
.shop-btn{
    width: 100%;
}
.product-img{
    width:90px;
}
.razorpay{
    width: 120px;
}
.form-div{
    border:2px solid #c5bbbb;
    /* box-shadow: 0px 0px 7px 0px #101029; */
}
.Subtotal-div{
    border: 1px solid rgb(217 205 205);
}
.badge {
    width: 23px;
    height: 23px;
    color: white;
}
.payment{
    box-shadow: 0px 0px 3px 0px #101029;
}
.Shipping{
     box-shadow: 0px 1px 4px 0px #101029;
     padding: 32px 32px;
}
.figures{
    background-color: red;
}

/*--------------------------------------------------------Admin Orders---------------------------------------------------------*/


.search-div input[type="text"] {
    /* width: calc(50% - 5px);  */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
 
.start {
    order: 1;
}
  
.end {
    order: 2;
}
  .search-div{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
#order-status{
    background-color: #001524;
    
}
#order-status li a{
    color: white;
}
#order-status li a:hover{
    color: #FF7D00;
}
#cardBox{
    /* box-shadow: 0px 0px 6px 0px black; */
    padding: 15px 30px;
}
.card-img {
    max-width: 250px;
    height: auto; /* Change this value as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    /* padding: 30px; */
  }
#orderCard{
    display: flex;
    justify-content: space-around;
    align-items: self-start;
}
.edit-info-icon-1{
    width: 30px;
    position: absolute;
    top: 36px;
    right: 18px;
    cursor: pointer;
}
.edit-info-icon-2{
    width: 30px;
    position: absolute;
    bottom: 20px;
    right: 18px;
    cursor: pointer;
}

/* -----------------------------------------------user order detailed view-----------------------------------------------*/
.card-stepper {
    z-index: 0
    }
    
    #progressbar-2 {
    color: #455A64;
    }
    
    #progressbar-2 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    }
    
    #progressbar-2 #step1:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-left: 0px;
    padding-left: 0px;
    }
    
    #progressbar-2 #step2:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    }
    
    #progressbar-2 #step3:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
    }
    
    #progressbar-2 #step4:before {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
    }
    
    #progressbar-2 li:before {
    line-height: 37px;
    display: block;
    font-size: 12px;
    background: #c5cae9;
    border-radius: 50%;
    }
    
    #progressbar-2 li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #c5cae9;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
    }
    
    #progressbar-2 li:nth-child(1):after {
    left: 1%;
    width: 100%
    }
    
    #progressbar-2 li:nth-child(2):after {
    left: 1%;
    width: 100%;
    }
    
    #progressbar-2 li:nth-child(3):after {
    left: 1%;
    width: 100%;
    background: #c5cae9 !important;
    }
    
    #progressbar-2 li:nth-child(4) {
    left: 0;
    width: 37px;
    }
    
    #progressbar-2 li:nth-child(4):after {
    left: 0;
    width: 0;
    }
    
    #progressbar-2 li.active:before,
    #progressbar-2 li.active:after {
    background: #6520ff;
    }

    .userDpDiv2{
        background-color: #001524;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border-radius: 15px;
        border: 2px solid #001524;
        padding: 10px 10px;
    }
    .order-span{
        margin: 0px 3px;
        color: #FF7D00;
    }
    .tag{
        font-size: 15px;
    }
    .order-data{
        color:black;
        margin-right: 10px;
        font-weight: 600;
    }
    .order-details{
        box-shadow: 0px 0px 15px 0px #bd5c01;
        border-radius: 15px;
        background: whitesmoke;
        padding: 20px;
    }
    .order-value{
        margin-left: 10px;
        font-weight: 500;
    }

.dashboard{
   background-color: rgb(216, 224, 224);
}
.latestOrders{
    width: 95%;
}
.topSelling{
    border-radius: 15px;
    background-color: white;
    
}
.inventoryMsg{
    font-size: 14px;
    padding-left: 7px;
    
}
.zero{
    color: red;
    font-size: 20px;
}
.error-message{
    color: red;
}

.pending{
    background-color: orangered;
}
.processing{
    background-color: orange;
}
.placed{
    background-color: yellow;
}
.shipped{
    background-color: greenyellow;
}
.delivered{
    background-color: green;
}

.gradient-custom {
    /* fallback for old browsers */
    background: userDpDiv2;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left, rgb(4, 75, 71), rgb(2, 89, 116));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, rgb(4, 75, 71), rgb(2, 89, 116))
    }

 .card-body{
    /* background-color:#0d47a1 ; */
    border-radius: 15px;
 }   
.orderli{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.orderli li{
    color:#001524;
    font-weight: 600;
}
.sideUser{
   border-radius: 15px;
}
.filter-sidebar{
    background-color: rgb(109, 106, 106);
}
.filter-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.inner{
    width: 80%;
}
.heading{
    color: #FF7D00;
}