<%- include('../user/partials/header') %>

<!--Navbar-->

<%-include('../user/partials/navbar') %>


<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <img width="70%" src="/png/404.jpg" alt="">
        </div>
    </div>
</div>