<%- include('../user/partials/header') %>

<!--Navbar-->

<%-include('../user/partials/navbar') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12  d-flex mt-3">
        <div class="col-lg-6  " style="text-align: start;">
            <button class="cart-btn">Return to shop</button>
        </div>
        <div class="col-lg-6 " style="text-align: end;">
            <button class="cart-btn">Update Cart</button>
        </div>
    </div>
    <div class="col-lg-5  mt-5 coupon-div">
        <div class="col-lg-8  ">
            <input class="coupon-input" type="text" placeholder="coupon code" name="coupon">
        </div>
        <div class="col-lg-5 coupon-btn-div">
            <button class="coupon-btn">Apply coupon</button>
        </div>
    </div>
  </div>
</div>
