<!--------header---------->
<%- include('../user/partials/header') %> 

<!--------navbar---------->
<%- include('../user/partials/navbar') %>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 p-0">
            <%-include('../user/partials/sidebar') %>
        </div>
        <div class="col-lg-10 d-flex justify-content-center align-items-center ">
            <figure class="figure">
                <img src="/png/empty.png" class="figure-img img-fluid rounded" alt="..." width="80%">
              </figure>
              <div class="btn-text">
                <h1 class="cart-text">Youe Cart is Empty</h1>
                <a href="/home"><button class="btn btn-primary shop-btn">Go To Shop</button></a>
              </div>
        </div>
    </div>
</div>