<!--header-->
<%- include('partials/header') %> 

<!--Navbar-->
<%-include('partials/navbar') %>

<style>
  .requires{

    margin-left: 10px;

  }
</style>

<section>
    <div class="main w-100">
        <div class="sign-image vw-50">
            <img src="/svg/login.svg" alt="">
        </div>
        <div class="sign-form vw-50">
            <form class="signup-form" method="post" action="/user/signup" onsubmit="return validatePassword() && validateForm()">
                
                

                <h3>Create an account</h3>
                <p>Enter your details below </p>
                <p id="errorMessage" style="color: red;"></p> <!-- Error message -->
                    <p style="color: rgb(196, 0, 0); font-size: 14px; ;" id="existmsg"><%= (locals.msg) %></p>
                <div class="mb-3 user-signup" >
                    <label for="name" class="form-label" style="font-size: 13px;">Full Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Full Name" id="name" required>
                </div>
                
                <div class="mb-3">
                    
                    <label for="email" class="form-label" style="font-size: 13px;">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email or Phone Number" id="email" required>
                    
                </div>
                <div class="mb-3">
                    <p class="msg" style="color: rgb(184, 0, 0);" id="passwordError"></p>
                    <label for="password" class="form-label" style="font-size: 13px;">Provide strong password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" id="password" required oninput="validatePassword()">
                </div>
                <button class="sign-btn" type="submit" value="signup"  id="signup-Button">Create Account</button>
                <div class="sign-up" style="display: flex; justify-content: start; align-items: center;">
                  <a href="/auth/google">
                      <img src="/svg/google.svg" alt="Google G Logo" style="width: 24px; height: 24px; margin-right: 10px;">
                      Sign up with Google
                  </a>
              </div>
              
                    <div class="a-link">
                        <span id="sp">Already have an account ? </span><a class="login-link" href="/user/tologin"> Login</a>
                    </div>
                
            </form>
        </div>
    </div>
</section>



<script src="https://unpkg.com/password-validator@5.1.1/dist/password-validator.min.js"></script>


<script>
    function validatePassword() {
      var password = document.getElementById('password').value;
      var msg = document.getElementById('passwordError');
      var signupbutton = document.getElementById('signup-Button');
      var errors = [];
  
      var schema = new passwordValidator();
  
      schema
        .is().min(8)
        .has().uppercase()
        .has().lowercase()
        .has().digits()
        .has().symbols()
        .is().not().spaces();
  
      if (!schema.has().uppercase(password)) {
        errors.push("At least one uppercase letter");
      }
      if (!schema.has().lowercase(password)) {
        errors.push("At least one lowercase letter");
      }
      if (!schema.has().digits(password)) {
        errors.push("At least one digit");
      }
      if (!schema.has().symbols(password)) {
        errors.push("At least one symbol");
      }
      if (!schema.is().min(8, password)) {
        errors.push("Minimum length should be 8 characters");
      }
  
      if (errors.length === 0) {
        msg.innerHTML = "";
        signupbutton.disabled = false;
      } else {
        msg.innerHTML = errors.join(", ");
        signupbutton.disabled = true;
        return false;
      }
  
      return true;
    }
  
    document.getElementById('password').addEventListener('input', validatePassword);
    

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function validateForm() {
        // Get the values of the form fields
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        // Check if any of the fields is empty
        if (name === '' || email === '' || password === '') {
            // Display an error message
            var errorMessage = document.getElementById('errorMessage');
            errorMessage.innerHTML = 'Please fill out all fields';

            // set a timeout function to remove the error message after 3 seconds
            setTimeout(function () {
                errorMessage.innerHTML = '';
            }, 3000);

            return false; // Prevent the form from submitting
        }

        // If all fields are filled, allow the form to submit
        return true;
    }

  setTimeout(function() {
    var errmsg = document.getElementById('existmsg');
    errmsg.innerHTML = ""
  },3000);


</script>
    </body>
    </html>

    <!--footer-->
<%-include('partials/footer') %>