<!--Footer-->

<footer class="footer">
    <div class="container-fluid">
      <div class="row" id="footer-main">
        <div class="col-6 col-md-6 col-lg-3 ">
          <div class="account">
            <h4>M-CART</h4>
            <br>
            <ul>
              <li><a href="#">Subscribe</a></li>
              <li><a href="#">Get 10% off your first order</a></li> 
            </ul>
            <input class="footer-search" type="email" placeholder="Enter your email address">
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
          <div class="account">
            <h6>Support</h6>
            <br>
            <ul>
              <li><a href="#">Malappuram,High-tech city <br>
              2nd Street,kerala,India</a></li>
              <li><a href="#">M-cart@gmail.com</a></li> 
              <li><a href="#">+91-9876543210</a></li> 
            </ul>
          </div>
        </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="account">
              <h6>Account</h6>
              <br>
              <ul>
                <li><a href="#">My-Account</a></li>
                <li><a href="#">Login/Register</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Wishlist</a></li>   
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="quick-link">
              <h6>Quick-Link</h6>
              <br>
              <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">contact</a></li>   
              </ul>
            </div>
          </div>
      </div>
  </div>
  </footer>