<!---Navbar-->

<nav class="navbar navbar-expand-lg nav_bar">
    <div class="container-fluid main-nav justify-content-around">
        <div class="logo">
            <h3 class="second"><span class="first">M-</span>CART</h3>
        </div>  
        <div class="link">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link">
                    About
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link ">Signup</a>
                </li>
              </ul>
        </div>
      <div class="searchbar" id="navbarSupportedContent">
            <form class="d-flex" role="search" >
                <input class=" search-box form-cont mr-3 " type="search" placeholder="what are you loooking for ?" >
                <i class="fa-solid fa-magnifying-glass search-icon" style="color: #000000;"></i>
            </form>
      </div>
    </div>
  </nav>